.player-container{
  width: 25%;
  float: left;
}
.user-player-container{
  text-align: center;
}
.heart-image{
  width: 30px;
  margin: 0 5px;
}
.actions-container{
  margin: 5px 0;
  display: inline-block;
}
.btn-action{
  margin: 0 5px;
  width: 100px;
  height: 58px;
  border-radius: 5px;
  border: 2px solid rgb(72, 72, 72);
  background-color: rgb(164, 164, 164);
  box-shadow: 0 0 4px black;
}
.shield-image{
  width: 43px;
}
.roulette-image{
  width: 51px;
}
.active{
  border: 2px solid green;
  background-color: rgb(89, 158, 127);
}
.bullets-container{
  margin: 5px 0;
}
.bullet-image{
  width: 10%;
  max-width: 50px;
  margin: 0 45%;
}
.result-container {
  font-size: 40px;
}
.return-home-btn{
  font-family: "Bluegrass";    
  text-shadow: 0 0 2px rgb(0, 0, 0);
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px 60px 20px;
  color: #5a2a14;
  background-color: #debe75;
  font-weight: bold;
  font-size: 40px;
}
.return-home-btn:hover{
  border: 2px solid rgb(159, 34, 34);
  color: #7e2902;
  background-color: #b89e60;
  box-shadow: 0px 0px 5px rgb(223, 57, 57);
  text-shadow: 0 0 4px rgb(223, 57, 57);
  cursor: pointer;
}
.return-home-btn-container{
  margin-top: 20px;
}